.root {
  display: flex;
  flex-direction: column;
}

.list {
  display: flex;
  flex-shrink: 0;
  /* stylelint-disable-next-line scss/double-slash-comment-empty-line-before */
  // border-bottom: 2px solid var(--color-dark-500);

  &.secondary {
    border-bottom: none;
  }
}

.trigger {
  all: unset;

  cursor: pointer;

  position: relative;

  display: inline-flex;
  gap: 10px;
  align-items: center;
  justify-content: center;

  width: 120px;
  padding: 6px 24px;

  font-weight: var(--font-weight-regular);

  border: 1px solid var(--color-dark-300);
  border-radius: 2px 0 0 2px;

  &.fullWidth {
    flex-grow: 1;
  }

  &:focus-visible {
    background: var(--color-dark-700);
    border: 2px solid var(--color-info-900);
    border-radius: 2px;
  }

  &:hover {
    background: var(--color-dark-300);
    border: 1px solid var(--color-dark-100);
    border-radius: 2px;
  }

  &:active {
    background: var(--color-accent-500);
    border: 1px solid var(--color-accent-500);
    border-radius: 2px 0 0 2px;
  }

  &:disabled {
    cursor: initial;
    background: var(--color-dark-700, #171717);
    border: 1px solid var(--color-dark-300, #4c4c4c);
    border-radius: 2px;
  }
}

[data-state='active'] {
  background: var(--color-accent-500);
}

.content {
  color: var(--color-dark-900);
}
