.container {
  width: 1008px;
}

.back {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 33px;
}

.link {
  margin-left: 6px;
}

.card {
  width: 100%;
  max-width: 413px;
  padding: 33px 36px 29px;
}

.darkText {
  color: var(--color-dark-100);
}
