.container {
  width: 1008px;
}

.back {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 33px;
}

.link {
  margin-left: 6px;
}

.card {
  width: 100%;
  max-width: 413px;
  padding: 33px 36px 29px;
}

.cardContainer {
  display: flex;
  justify-content: center;
}

.headerText {
  text-align: center;
}

.questionText {
  margin-top: 45px;
}

.darkText {
  margin-bottom: 41px;
  color: var(--color-dark-100);
}
